body, html {
  background-color: #fff;
}

.Panel--tm-gray .Panel__in {
  background-color: rgb(237,238,240);
  padding-top: 25px;
}

.Group {
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border: none;
}